body {
      font-family: Arial, sans-serif;
      background-color: #ff0000;
      margin: 0;
      padding: 20px;
    }

    #profile {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      h1, h2, h3, h4, h5, h6{
        color: #000000;
        line-height: 2;
      }

      img {
        max-width: 200%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      p {
        line-height: 1.2;
      }  
